set_io clk48 44
set_io spiflash4x_cs_n 16
set_io spiflash4x_clk 15
set_io spiflash4x_dq[0] 14
set_io spiflash4x_dq[1] 17
set_io spiflash4x_dq[2] 18
set_io spiflash4x_dq[3] 19
set_io usb_d_p 34
set_io usb_d_n 37
set_io usb_pullup 35
set_io usb_pulldown 36
set_io touch_pads_t1 48
set_io touch_pads_t2 47
set_io touch_pads_t3 46
set_io touch_pads_t4 45
set_io rgb_led_r 40
set_io rgb_led_g 39
set_io rgb_led_b 41
